.idea/
build/
out/
classes/
docker/*.war
.gradle/
src/main/profile/dev
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
/docker/pdf-generation-service.jar
/docker/pdf-generation-service.war