.idea/
build/
out/
classes/
.gradle/
src/main/profile/dev
src/main/profile/azure
src/main/profile/aws
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
