<!--suppress XmlUnboundNsPrefix -->
<configuration scan="true" scanPeriod="10 seconds">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <property name="LOGS_HOME" value="/Users/ness/Documents/logs/webest"/>

    <logger name="pro.jness.pdf" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

</configuration>